body {
  background-color: #363636;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.react-wrapper {
  width: 300px;
  height: 250px;
  position: relative;
}

.react-wrapper:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 55px;
  height: 55px;
  background-color: #5ad5ed;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.first {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: black;
  background-color: transparent;
  border: 3px solid #5ad5ed;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.second {
  position: absolute;
  width: 100%;
  height: 35%;
  background-color: transparent;
  border: 3px solid #5ad5ed;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%) rotate(60deg);
  -webkit-transform: translate(0, -50%) rotate(60deg);
  -moz-transform: translate(0, -50%) rotate(60deg);
  -ms-transform: translate(0, -50%) rotate(60deg);
  -o-transform: translate(0, -50%) rotate(60deg);
}

.third {
  position: absolute;
  width: 100%;
  height: 35%;
  background-color: transparent;
  border: 3px solid #5ad5ed;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%) rotate(-60deg);
  -webkit-transform: translate(0, -50%) rotate(-60deg);
  -moz-transform: translate(0, -50%) rotate(-60deg);
  -ms-transform: translate(0, -50%) rotate(-60deg);
  -o-transform: translate(0, -50%) rotate(-60deg);
}
