body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #233637;
  box-sizing: border-box;
}

.diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
  border-right: 50px solid #20bc7d;
}
span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
  border-right: 50px solid #20bc7d;
}
span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
  border-right: 50px solid #20bc7d;
}

span:nth-child(4) {
  position: absolute;
  background-color: rebeccapurple;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
  border-right: 50px solid #20bc7d;
}
