body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #00a6b7);
}
.camera {
  position: relative;
  width: 220px;
  height: 160px;
  background-color: #d6d6d6;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
}

.camera::before {
  content: "";
  border-radius: 8px;
  width: 40px;
  height: 8px;
  background-color: rgb(8, 87, 55);
  position: absolute;
  left: 15px;
  top: -8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.flash {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #bab7c0;
  right: 20px;
  top: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.lenz {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 10px solid #fff;
  background-color: rgb(18, 59, 45);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
}

.inner-lenz {
  border-radius: 50%;
  width: 0;
  height: 0;
  border-top: 30px solid #1fb67c;
  border-bottom: 30px solid #26c893;
  border-left: 30px solid #55ddb9;
  border-right: 30px solid #20bc7d;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
