body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9cd58;
  height: 100vh;
}

.pikachu {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #f9cd58;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.pikachu::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background-color: #e35a45;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  left: 10%;
}
.pikachu::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background-color: #e35a45;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 50%;
  right: 10%;
}

.nose {
  width: 16px;
  height: 16px;
  border-radius: 8px 8px 16px 16px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.eye {
  width: 64px;
  height: 64px;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 20%;
}

.eye-left {
  left: 15%;
}

.eye-left::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  right: 20%;
  top: 13%;
  animation: eyes 2s ease infinite;
}

.eye-right {
  right: 15%;
}

.eye-right::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  right: 20%;
  top: 13%;
  animation: eyes 2s ease infinite;
}

@keyframes eyes {
  0% {
    right: 44%;
  }

  50% {
    right: 15%;
  }

  100% {
    right: 44%;
  }
}

.mouth {
  position: absolute;
  overflow: hidden;
  width: 96px;
  height: 120px;
  background-color: #833633;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 16px 16px 50% 50%;
  -webkit-border-radius: 16px 16px 50% 50%;
  -moz-border-radius: 16px 16px 50% 50%;
  -ms-border-radius: 16px 16px 50% 50%;
  -o-border-radius: 16px 16px 50% 50%;
}

.mouth::after {
  width: 64px;
  height: 64px;
  position: absolute;
  content: "";
  background-color: #f9cd58;
  border-radius: 50%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -20px;
  top: -20px;
}

.mouth::before {
  width: 64px;
  height: 64px;
  position: absolute;
  content: "";
  background-color: #f9cd58;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  right: -4px;
  top: -20px;
}

.tongue {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #e5777e;
  border-top-right-radius: 999px;
  border-top-left-radius: 999px;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
