body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #00a6b7, #00a6c9);
}

.coffee-mug {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #3f2616;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow:
    0 0 0 10px #442918,
    0 0 0 25px #3c2415,
    0 0 0 42px #fe9407,
    0 0 0 25px #feaa3a,
    0 120px 0 -25px #3c2415,
    100px 70px 0 -25px #3c2415,
    100px 70px 0 -25px #3c2415,
    80px 210px 0 -55px #3c2415,
    20px 250px 0 -65px #3c2415;
}

.coffee-mug::before {
  content: "";
  position: absolute;
  height: 75px;
  width: 60px;
  background-color: #fe9407;
  top: -65px;
  right: -50px;
  border-radius: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
