body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(60deg, #303030, #111);
}

.gear {
  width: 110px;
  height: 110px;
  background-color: #5dc59d;
  border-radius: 50%;
}

.gear-inner {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
  -o-transform: translate(-50%, -40%);
}

.bar {
  width: 170px;
  height: 40px;
  background-color: #5dc59d;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.bar:nth-child(2) {
  transform: translate(-50%, -40%) rotate(60deg);
  -webkit-transform: translate(-50%, -40%) rotate(60deg);
  -moz-transform: translate(-50%, -40%) rotate(60deg);
  -ms-transform: translate(-50%, -40%) rotate(60deg);
  -o-transform: translate(-50%, -40%) rotate(60deg);
}

.bar:nth-child(3) {
  transform: translate(-50%, -40%) rotate(-60deg);
  -webkit-transform: translate(-50%, -40%) rotate(-60deg);
  -moz-transform: translate(-50%, -40%) rotate(-60deg);
  -ms-transform: translate(-50%, -40%) rotate(-60deg);
  -o-transform: translate(-50%, -40%) rotate(-60deg);
}
