body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fae996;
}

.donut {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  background-color: #f4737d;
  border: 3px solid gray;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.inner-circle {
  position: absolute;
  top: 1%;
  right: 2%;
  width: 230px;
  height: 230px;
  background-color: #f5a3a6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.center-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fae996;
  border: 3px solid gray;
  z-index: 2;
}

.smile-col {
  z-index: 3;
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
}

.left-eye {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.right-eye {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.smile-line {
  width: 32px;
  height: 16px;
  border: 3px solid #003459;
  border-top: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;

  margin: 18px 8px;
}
